# DAY-4 Take input for the positive integer n

In [2]:
# Take input for the positive integer n
n = int(input("Enter a positive integer: "))

# Initialize a variable to store the sum of even numbers
even_sum = 0

# Loop through all numbers from 1 to n
for num in range(1, n + 1):
    if num % 2 == 0:  # Check if the number is even
        even_sum += num

# Print the result
print(f"The sum of all even numbers between 1 and {n} is: {even_sum}")

Enter a positive integer:  32

The sum of all even numbers between 1 and 32 is: 272

# DAY-5

In [5]:
# Ask the user to enter a positive integer
n = int(input("Enter a positive integer: "))

# Print all numbers from 1 to n using a for loop
print("Numbers from 1 to", n)
for i in range(1, n + 1):
    print(i)

# Calculate the sum of all numbers from 1 to n using a while loop
sum_numbers = 0
i = 1
while i <= n:
    sum_numbers += i
    i += 1
print("Sum of all numbers from 1 to", n, "is:", sum_numbers)
# Define a function to calculate the square of a number
def calculate_square(n):
    return n * n

# Ask the user to input a positive integer
num = int(input("Enter a positive integer: "))

# Call the function and display the result
square = calculate_square(num)
print(f"The square of {num} is: {square}")

Enter a positive integer:  43

Numbers from 1 to 43
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
Sum of all numbers from 1 to 43 is: 946

Enter a positive integer:  44

The square of 44 is: 1936

# DAY - 6

In [8]:
import pandas as pd

# 1. Create a DataFrame
data = {
    "Name": ["John", "Alice", "Bob", "Diana"],
    "Age": [28, 34, 23, 29],
    "Department": ["HR", "IT", "Marketing", "Finance"],
    "Salary": [45000, 60000, 35000, 50000]
}
df = pd.DataFrame(data)

# 2a. Display the first 2 rows of the DataFrame
print("First 2 rows of the DataFrame:")
print(df.head(2))

# 2b. Add a new column named 'Bonus' (10% of the salary)
df["Bonus"] = df["Salary"] * 0.1
print("\nDataFrame with Bonus column:")
print(df)

# 2c. Calculate the average salary
average_salary = df["Salary"].mean()
print("\nAverage Salary:", average_salary)

# 2d. Filter and display employees older than 25
filtered_employees = df[df["Age"] > 25]
print("\nEmployees older than 25:")
print(filtered_employees)

First 2 rows of the DataFrame:
    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000

DataFrame with Bonus column:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
2    Bob   23  Marketing   35000  3500.0
3  Diana   29    Finance   50000  5000.0

Average Salary: 47500.0

Employees older than 25:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
3  Diana   29    Finance   50000  5000.0